@charset "utf-8";

/* CSS Document */

h1 {color: #0000ff; font-family: arial; text-align: center}
h2 {font-family: fantasy; font-size: 23px;}
p {font-size:20px}
.center {font-size:12px; text-align: center}